CREATE DATABASE [dbTest3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTest3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbTest3.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbTest3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbTest3_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [dbTest3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [dbTest3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
